:root {
  --main-loading-color: #bF7125;
  --main-color: #7fbfa7;
  --main-darkare-color: #55967d;
  --title-text-color: #575757;
  --alvin-alternative-text-color: #bF7125;
  --color-white: white;
  --color-black: black;
  --maincolor-10-trans: rgba(127, 191, 167, 0.4);
  --maincolor-30-trans: rgba(127, 191, 167, 0.6);
  --maincolor-50-trans: rgba(127, 191, 167, 1);
  
  --alternative-color-medium-trans: rgba(215, 170, 120, 1);
}
#systemOneLoading, #divaLoading {
	display: none;
}
#alvinLoading {
	display: block;
}

@font-face {
    font-family: 'UniversalisADFStdRegular';
    src: url('../fonts/UniversalisADFStd-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.jsClient.mainView {
	border-color: var(--main-color);
	font-family: "Open Sans", verdana, arial, helvetica, sans-serif;
}
.jsClient > .sideBar {
	scrollbar-color: var(--main-color) var(--color-light-grey);
    border-color: inherit;
    border-right-style: none;
    border-left: 1px solid;
	height: calc(100% - 3.5rem - 11px);
    padding: 0 0.5rem;
	position: absolute;
	right: 0;
}
.sideBar .openGuiItemHandlerView > .header, .searchesViewHeadline, .recordTypeGroupHeadline {
	color: var(--title-text-color);
}

.jsClient > .workArea {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	height: calc(100% - 3.5rem - 11px);
}

.workItem > .buttonView {
	position: absolute;
	bottom: 0;
	background-color: transparent;
	padding: 0.2rem 0.2rem 0rem 0.2rem;
	right: 1rem;
	z-index: 1000;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.workItem > .showView {
	padding-bottom: 3rem;
}
.workItem > .editView {
	padding-bottom: 3rem;
}

.infoActive {
	background-color: rgba(127, 191, 167, 0.1);
}
/* .sideBar .active, .header .active { */
/* 	font-weight: bold; */
/* 	background-color: rgba(127, 191, 167, 0.5); */
/* } */
.pVar:hover, .pCollVar:hover, .pGroup:hover, .pSurroundingContainer:hover, .repeatingElement:hover {
	background-color: rgba(127, 191, 167, 0.1);
}
.jsClient>.header {
	text-shadow: none;
	background-color: var(--color-white);
    font-family: 'UniversalisADFStdRegular';
   font-weight: normal;
   font-style: normal;
   color:#222222;
   padding-top:0.5rem;
   border:none;
   border-top: 10px solid lightgrey;
   border-bottom: 1px solid var(--main-color);
}
.jsClient > .header .menuView{
	color:#222222;
}

.jsClient .showView .h1TextStyle .text { 
	color: black;
}

h1, .h1TextStyle{
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-black);
}
.removeButton, .infoButton, .openLinkedRecordButton, .showSearchButton {
	transform: none;
}

.editView .presentation h2, .editView .presentation .text.h2TextStyle {
	background-color: var(--main-color);
}

.editView .presentation .pSurroundingContainer h2, 
	.editView .presentation .pSurroundingContainer .text.h2TextStyle {
	background-color: transparent;
	margin-top: 0;
}

.jsClient .sideBar{
	color: var(--alvin-alternative-text-color);
}

.holder.loginManagerView {
	background: var(--main-color);
}

.topBar {
	border-color: var(--main-color);
}

.editView .presentation > .pGroup > .pNonRepeatingChildRefHandler {
	border: 1px solid var(--main-color);
	margin-bottom: 1rem;
}
.editView .presentation > .pGroup > .pNonRepeatingChildRefHandler > .pSurroundingContainer .pChildRefHandler {
/* 	margin-top: 0.5rem; */
}
.editView .presentation > .pGroup > .pNonRepeatingChildRefHandler > .pSurroundingContainer .pChildRefHandler ~  .pChildRefHandler{
	margin-top: none;
}
.editView .presentation > .pGroup > .pNonRepeatingChildRefHandler.containsData {
	border: 1px solid var(--main-color);
	background: linear-gradient( var(--main-color) 1.8rem, transparent 1.8rem);
}

.editView .presentation > .pGroup >  .pNonRepeatingChildRefHandler.containsNoData {
	border: 1px solid var(--main-color);
	background: linear-gradient( #dddddd 1.8rem, var(--main-color) 1px, transparent calc(1.8rem + 1px));
}

.presentation .text.labelTextStyle {
	font-weight: bold;
	color: black;
}

.jsClient .text.h2TextStyle, .recordTypeGroupHeadline{
	color:var(--title-text-color);
}

.header select{
	float:right;
	margin-top:0.3em;
}

input[type="button"] {
	display: inline-block;
	border: none;
	padding: 0.5rem 1rem;
	margin: 0.1rem;
	text-decoration: none;
	background: #232323;
	color: var(--color-white);
	font-size: 0.7rem;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	transform: scale(0.99);
}

input[type="button"]:hover,
input[type="button"]:focus {
	background: #363636
}

input[type="button"]:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}
	
.pChildRefHandler .pChildRefHandler input[type="button"] {
	margin-left: .5rem;
}
.infoButton::before {
	background-position: -64px -32px;
}

.infoButton::after {
	background-position: -64px -48px;
}

.infoView::before {
	background-position: -64px -32px;
}

.jsClient .workView .pCollVar select {
        max-width: 30em;
} 

.listView .h1TextStyle, .listView .h1TextStyle .text {
	color: var(--alvin-alternative-text-color);
	font-size: 1rem;
}

.workArea>.workView>.workItem>.editView, .workArea>.workView>.workItem>.showView {
	height: calc(100% - 5rem);
}