:root {
  --main-color: rgba(127, 191, 167);
  --second-color: rgba(210, 210, 210);
  --title-text-color: rgba(50, 50, 50);
  --alternative-text-color: rgba(191, 114, 37);
  --color-white: rgba(255,255,255);
  --color-black: rgba(0,0,0);
  --color-dark-grey: rgba(35,35,35);
  --second-color: rgba(210, 210, 210);
  --color-h1: var(--main-color);
  --color-h2: rgba(127, 191, 167, 0.9);
  --color-h3: rgba(127, 191, 167, 0.8);
  --color-h4: rgba(127, 191, 167, 0.7);
  --color-contains: var(--color-black);
}
#systemOneLoading, #divaLoading {
	display: none;
}

#alvinLoading {
	display: block;
}

@font-face {
    font-family: 'UniversalisADFStdRegular';
    src: url('../fonts/UniversalisADFStd-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.jsClient > .header {
	border-top: 10px solid var(--second-color);
}

.jsClient.mainView {
	grid-template-columns: 1fr min-content;
	grid-template-rows: max-content minmax(0, 1fr);
	grid-template-areas: 
		"header header"
		"workArea sideBar";
	border-color: var(--main-color);
	font-family: "Open Sans", verdana, arial, helvetica, sans-serif;
}

.jsClient > .sideBar {
    border-color: inherit;
    border-right-style: none;
    border-left: 1px solid;
	padding: 0 0.5rem;
}

.sideBar .openGuiItemHandlerView > .header, .searchesViewHeadline, .recordTypeGroupHeadline {
	color: var(--title-text-color);
}

.workItem > .buttonView {
/* 	position: absolute; */
/* 	bottom: 0; */
	background-color: transparent;
	padding: 0.2rem 0.2rem 0rem 0.2rem;
	right: 1rem;
	z-index: 1000;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*.infoActive {
	background-color: rgba(127, 191, 167, 0.1);
}*/
/* .sideBar .active, .header .active { */
/* 	font-weight: bold; */
/* 	background-color: rgba(127, 191, 167, 0.5); */
/* } */

/*Nyanser av grön*/
/*.pVar:hover, .pCollVar:hover, .pGroup:hover, .pSurroundingContainer:hover, .repeatingElement:hover {
	background-color: rgba(127, 191, 167, 0.1);
}*/
.jsClient>.header {
	text-shadow: none;
	background-color: var(--color-white);
	font-family: 'UniversalisADFStdRegular';
	font-weight: normal;
	font-style: normal;
	color:var(--color-dark-grey);
	
	border:none;
	border-top: 10px solid lightgrey;
	border-bottom: 1px solid var(--main-color);
}

.jsClient > .header .menuView {
	color:var(--color-dark-grey);
}

.jsClient .showView .h1TextStyle .text { 
	color: black;
}

.jsClient h1, .jsClient .h1TextStyle {
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-black);
}

.jsClient h2, .jsClient h3, .jsClient h4, .jsClient .h2TextStyle, .jsClient .h3TextStyle, 
	.jsClient .h4TextStyle {
  color: var(--color-black);
}

.removeButton, .infoButton, .openLinkedRecordButton, .showSearchButton {
	transform: none;
}

.editView .presentation h2, .editView .presentation .text.h2TextStyle {
	background-color: var(--main-color);
}

.editView .presentation .pSurroundingContainer h2, 
	.editView .presentation .pSurroundingContainer .text.h2TextStyle {
	background-color: transparent;
	margin-top: 0;
}

.jsClient .sideBar {
	color: var(--alternative-text-color);
}

.topBar {
	border-color: var(--main-color);
}

.editView .presentation > .pGroup > .pNonRepeatingChildRefHandler {
	border: 1px solid var(--main-color);
	margin-bottom: 1rem;
}
.editView .presentation > .pGroup > .pNonRepeatingChildRefHandler > .pSurroundingContainer .pChildRefHandler {
/* 	margin-top: 0.5rem; */
}
.editView .presentation > .pGroup > .pNonRepeatingChildRefHandler > .pSurroundingContainer .pChildRefHandler ~  .pChildRefHandler{
	margin-top: none;
}
.editView .presentation > .pGroup > .pNonRepeatingChildRefHandler.containsData {
	border: 1px solid var(--main-color);
	background: linear-gradient( var(--main-color) 1.8rem, transparent 1.8rem);
}

.editView .presentation > .pGroup >  .pNonRepeatingChildRefHandler.containsNoData {
	border: 1px solid var(--main-color);
	background: linear-gradient( #dddddd 1.8rem, var(--main-color) 1px, transparent calc(1.8rem + 1px));
}

.presentation .text.labelTextStyle {
	font-weight: bold;
	color: black;
}

.jsClient .text.h2TextStyle, .recordTypeGroupHeadline{
	color:var(--title-text-color);
}

input[type="button"] {
	display: inline-block;
	border: none;
	padding: 0.5rem 1rem;
	margin: 0.1rem;
	text-decoration: none;
	background: #232323;
	color: var(--color-white);
	font-size: 0.7rem;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	transform: scale(0.99);
}

input[type="button"]:hover,
input[type="button"]:focus {
	background: #363636
}

input[type="button"]:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}
	
.pChildRefHandler .pChildRefHandler input[type="button"] {
	margin-left: .5rem;
}
.infoButton::before {
	background-position: -64px -32px;
}

.infoButton::after {
	background-position: -64px -48px;
}

.infoView::before {
	background-position: -64px -32px;
}

.jsClient .workView .pCollVar select {
        max-width: 30em;
} 

.listView .h1TextStyle, .listView .h1TextStyle .text {
	color: var(--alternative-text-color);
	font-size: 1rem;
}
