.workItem > .buttonView {
	position: absolute;
	bottom: 0rem;
	background-color: #0082c9;
	padding: 0.2rem 0.2rem 0rem 0.2rem;
	right: 1rem;
	z-index: 999;
}

h1{
	color: var(--color-white);
	background-color: var(--maincolor-50-trans);
}
h2{
	background-color: var(--maincolor-30-trans);
}
h3{
	background-color: var(--maincolor-10-trans);
}
