:root {
  --main-color: rgba(117, 89, 142);
  --second-color: rgba(142, 115, 167);
  --color-white-90-trans: rgba(252, 252, 252, 0.9);
/*   --blue-10-trans: rgba(117, 88, 141, 0.07); */
  --inbox-28-shadow: rgba(255,255,255,0.28);
  --box-sahow-17-trans:rgba(255,255,255,0.17);
  --menu-2n-color: rgba(167, 114, 166, 0.1);
  --color-h1: var(--main-color);
  --color-h2: rgba(117, 89, 142, 0.9);
  --color-h3: rgba(117, 89, 142, 0.8);
  --color-h4: rgba(117, 89, 142, 0.7);
}
#systemOneLoading, #alvinLoading {
	display: none;
}
#divaLoading {
	display: block;
}

h1, .h1TextStyle {
	letter-spacing: 2px;
}

h2, .h2TextStyle {
	color:var(--color-white);
	letter-spacing: 2px;
}

.showView .presentation .text.color-light-grey, .showView .presentation {
	color: var(--color-grey);
}

.workView .pVar {
	border-radius: 5px;
}

.jsClient{
	color: var(--color-grey);
}

.jsClient label, .jsClient .label, .jsClient .text {
	margin: 0;
	color:var(--color-grey);
	letter-spacing: 2px;
}


.jsClient > .header .menuView {
	color: var(--color-light-grey);
}

.jsClient > .sideBar {
	scrollbar-color: var(--main-color) var(--color-light-grey);
	box-shadow: 0 0 10px var(--black-box-10-shadow);
	color: var(--color-grey);
	background: var(--color-white);
}

.workArea .workView > .workItem {
	justify-content: space-between;
	padding-right: 0.3rem;
}

.topBar {
	order: 0;
	border: none;
}
.holder.tool {
	order: 1;
}
.jsClient .editView {
	flex: 0 1 calc(50% - 1rem);
	order: 2;
}
.jsClient .showView {
	order: 3;
	flex: 0 1 calc(50% - 1rem);
}
.messageHolder {
	z-index: 20;
}

.sideBar .active, .header .active {
	font-weight: bold;
}

.workItem > .buttonView {
	position: absolute;
	bottom: 0;
	background-color: var(--color-white);
	border-radius: 10px;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	z-index: 1000;
	box-shadow: 0 0 5px var(--main-color);
}

.jsClient .workItem > .buttonView input {
	height: 2rem;
	position: relative;
	white-space: normal;
	margin: 0px 2px 0px 2px;
}
/*.infoActive {
	background-color: var(--blue-10-trans);
	transition: background-color 0.5s linear;
}*/
.pVar:hover, .pCollVar:hover, .pGroup:hover, 
.pSurroundingContainer:hover, .repeatingElement:hover, .pRecordLink:hover {
/*	background-color: var(--blue-10-trans);*/
	transition: background-color 0.5s linear;
}
.editView > .presentation, .showView > .presentation {
	padding-bottom: 2rem;
}

.editView > .presentation > .pGroup, .showView > .presentation > .pGroup {
	border-radius: 5px;
	padding: 0 1rem;
	box-shadow: 0 0 10px var(--black-box-10-shadow);
}

.presentation h1, .presentation .text.h1TextStyle, .workView .presentation .h1TextStyle {
	color: var(--main-color);
	font-size: 1.2rem;
	font-weight: bold;
	background-color: var(--color-light-grey);
	border-radius: 5px 0 0 0;
	margin: 0 -1rem 0 -1rem;
	padding: 0.4rem 1rem 0.4rem 1rem;
	position: sticky;
	top: 0rem;
	z-index: 3;
}

.presentation .text.color-light-grey {
	color: var(--main-color);
	position: sticky;
	top: 2.5rem;
	background: var(--color-light-grey);
	z-index: 2;
}

input[type="button"], .form-style-10 input[type="submit"] {
	background: var(--color-white-90-trans);
	padding: 4px 11px 4px 11px;
	border-radius: 5px;
	color: var(--main-color);
	text-shadow: 1px 1px 3px var(--text-shadow-12-trans);
	font: normal 30px serif;
	box-shadow: inset 0 2px 2px 0 var(--box-sahow-17-trans);
	border: 1px solid var(--main-color);
	font-size: 15px;
}

 input[type="button"]:hover, .form-style-10 input[type="submit"]:hover {
	background: var(--color-h3);
	box-shadow: inset 0 2px 2px 0 var(--inbox-28-shadow);
	cursor: pointer;
	color: white;
}

.editView .repeatingElement:last-child {
	margin-bottom: 0;
}

.jsClient .workItem > .incomingLinksView {
	flex: 0 0 50%;
	order: 10;
}

.sideBar .menuView:nth-child(2n) {
	background-color: var(--menu-2n-color);
}
.header .menuView:nth-child(2n) {
	background-color: none;
}
/* .header .logoHeader { */
/* 	background: url("../images/divaIcon2.svg") no-repeat scroll; */
/* 	content: ""; */
/* 	background-position: -0px -0px; */
/* 	opacity: 0.8; */
/* 	height: 20px; */
/* 	width: 60px; */
/* 	transform: scale(1.2, 1.2); */
/* 	position: absolute; */
/* 	left: 6rem; */
/* 	top: 0.6rem; */
/* 	z-index: -1; */
/* } */

/* .header .logoHeaderLogo { */
/* 	background: url("../images/divaIcon2.svg") no-repeat scroll; */
/* 	content: ""; */
/* 	background-position: -60px -0px; */
/* 	opacity: 0.4; */
/* 	height: 28px; */
/* 	width: 30px; */
/* 	transform: scale(0.9, 0.9); */
/* 	position: absolute; */
/* 	left: 4rem; */
/* 	top: 0.5rem; */
/* 	z-index: -1; */
/* } */

.iconButton.loginManagerView{
	margin-top: 0rem;
	right: 1rem;
	margin-right: 0rem;
	top: 0.4rem;
}

/* .sideBar{ */
/* 	margin-bottom: .5rem; */
/* } */

.openGuiItemHandlerView > .recordType, .recordTypesView .recordType, .searchesView > .searchRecord {
	margin-top: 0px;
	margin-bottom: 0px;
}

.recordTypeGroupHeadline{
	color: var(--main-color);
	font-size: 1.2rem;
}

.editView, .showView {
	overflow: auto;
	scrollbar-color: var(--main-color) var(--color-light-grey);
}