.removeButton:hover::after {
	opacity: 1;
    animation: rotation 1s  linear;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(90deg);}
}

.messageHolder {
	color: black;
	top: 5em;
	position: absolute;
	font-size: 1rem;
	left: 5em;
	right: 5em;
	z-index: 1002;
}

.messageHolder .toBeRemoved, .message.toBeRemoved {
	background-color: black;
	opacity: 0.0;
	height: 0px;
	transition: opacity .7s, height .7s;
	overflow: hidden;
	margin-top: 0px;
	border: 0px;
}

.messageHolder .message {
	border: 1px solid;
	margin: 4px;
	min-height: 19px;
	padding: .5rem;
	width: auto;
	border-radius: 10px 10px;
	box-shadow: 10px 10px 10px var(--black-box-10-shadow);
}

.messageHolder .messageText {
	max-width: calc(100% - 25px);
}

.messageHolder .error {
	color: #D8000C;
	background-color: #FFBABA;
}

.messageHolder .warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

.messageHolder .info {
	color: #00529B;
	background-color: #BDE5F8;
}

.messageHolder .positive {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.message {
	position: relative;
}