.removeButton:hover::after {
	opacity: 1;
    animation: rotation 1s  linear;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(90deg);}
}

.messageHolder {
	width: calc(100% - 25rem);
	color: black;
	top: 5em;
	position: fixed;
	z-index: 1002;
}

.messageHolder .toBeRemoved, .message.toBeRemoved {
	background-color: black;
	opacity: 0.0;
	height: 0px;
	transition: opacity .7s, height .7s;
	overflow: hidden;
	margin-top: 0px;
	border: 0px;
}

.messageHolder .message {
	margin: 4px;
	min-height: 19px;
	padding: .5rem;
	width: auto;
	border-radius: 10px 10px;
	box-shadow: 10px 10px 10px var(--black-box-10-shadow);
}

.messageHolder .messageText {
	max-width: calc(100% - 25px);
}

.messageHolder .error {
	background-color: #FFB0B0;
}

.messageHolder .warning {
	background-color: #ffb300;
}

.messageHolder .info {
	background-color: #91FFFD;
}

.messageHolder .positive {
	background-color: #7aff00;
}

.message {
	position: relative;
}