:root {
  --main-color: rgba(255, 174, 0);
  --second-color: rgba(255, 191, 51);
  --color-light-grey: #DCDCDC;
  --color-white: rgba(255, 255, 255);
  --color-grey: rgba(20,20,20);
  --black-box-10-shadow: rgba(0, 0, 0, 0.2);
  --text-shadow-12-trans: rgba(0,0,0,0.12);
  --black-box-50-shadow: rgba(0, 0, 0, 0.5);
  --color-h1: var(--main-color);
  --color-h2: rgba(0, 130, 200, 0.9);
  --color-h3: rgba(0, 130, 200, 0.8);
  --color-h4: rgba(0, 130, 200, 0.7);
  --inbox-28-shadow: rgba(255,255,255,0.28);
  --box-sahow-17-trans:rgba(255,255,255,0.17);
  --menu-2n-color: rgba(167, 114, 166, 0.5);
}